<div class="message">
  <% profile = message.user.icon %>
  <%= image_tag(profile, id: "text-profile") %>
  <a href="" class="message_username"><%= message.user.username %>:</a>
  <span class="message_content">
    <%= message.content %>
  </span>
</div>
<div class="message_timestamp">
  <%= message.created_at %>
</div>
