<div class="carousel">
	<figure>
		<%= image_tag("SS_pokeclimb", class: "game-image") %>
		<%= image_tag("SS_hangman", class: "game-image") %>
		<%= image_tag("SS_pokesnake", class: "game-image") %>
	</figure>
	<div id="gamesNav">
    <!-- was nav  -->
		<button class="navBttn prev">Prev</button>
		<button class="navBttn next">Next</button>
	</div>
</div>
