<div id="gameshub-bg">
  <%= image_tag("gameshub-bg.png", id: "gameshub-img")%>
  <div class="carousel">
  	<figure>
      <%= image_tag("SS_pokeclimb", class: "game-image") %>
      <%= image_tag("SS_hangman", class: "game-image") %>
      <%= image_tag("SS_pokesnake", class: "game-image") %>
  	</figure>
    <div id="gamesInfo">
      <p id="description" class="text-center">Tap/Click to Jump! Climb Bulbasaur's vines to reach high scores and collect coins! Avoid the other Pokémon!</p>
    </div>
  	<div id="gamesNav">
      <!-- was nav  -->
  		<button class="navBttn prev btn btn-default">Prev</button>
      <a href="/games/pokeclimb" id="game-link" class="btn btn-default" data-turbolinks="false">Play</a>
  		<button class="navBttn next btn btn-default">Next</button>
  	</div>
  </div>
</div>
