<div class="container">
  <div class="row">

    <div id="main-content" class="col-sm-12">
      <%= render 'rooms/show' %>
    </div><!-- main-content -->

  </div><!-- row -->
</div><!-- container -->
