#chatroom{
  background: image-url('white-grid-tile.jpg');
  width: 75%;
  height: 93.5vh;
}

#trainer-list{
  margin: 20px 10px 10px 50px;
  height: 75vh;
  max-height: 75vh;
  background: image-url('lightning-banner.png');
  background-size: cover;
  border-radius: 5px;
  .trainer-option{
    margin: 10px 5px;
    height: 32px;
    background: rgba(240, 240, 240, 0.65);
    border-radius: 3px;
    .chat-link{
      margin: 10px 0;
    }
    #chat-profile{
      width: 32px;
      float: left;
      border-radius: 3px;
      margin: 0 10px;
    }
  }
}
.message{
  padding: 5px;
  border-radius: 5px;
  background: rgba(240, 240, 240, 0.65);
  #text-profile{
    width: 32px;
  }
}

.message_timestamp{
  margin: 0 0 10px 40px;
}

#messages{
  margin: 20px 50px 10px 10px;
  padding: 10px;
  height: 75vh;
  max-height: 75vh;
  overflow: auto;
  background: image-url('lightning-chat.png');
  background-size: cover;
  border-radius: 5px;
}

#message_input{
  margin: 10px 5px 10px 10px;
  height: 75px;
  width: 75%;
  resize: none;
  border: 2px solid $navbarColor;
  border-radius: 5px;
}
#message_input:focus{
  outline: 0;
}
#sendButton{
  display: inline-block;
  float: right;
  margin: 10px 50px 10px 5px;
  width: 120px;
  height: 75px;
  background: image-url('chansey-bttn.png');
  background-position: center;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: generalText;
  font-size: 25px;
  color: black;
}
#sendButton:hover{
  opacity: .8;
  color: $navbarColor;
}

.chatroom{
  border: 2px solid blue;
  color: blue;
}

.first{
  border: 2px solid pink;
  padding: 0;
}

.second{
  border: 2px solid papayawhip;
  margin: 0;
}

.theme-bttns{
  height: 75px;
  margin: 10px 5px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button:focus{
    outline: 0;
  }
  .vertical-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #theme1{height: 25px; width: 25px;
    background-color: yellow;
    margin: 5px; border-radius: 5px;}
  #theme2{height: 25px; width: 25px;
    background-color: blue;
    margin: 5px; border-radius: 5px;}
  #theme3{height: 25px; width: 25px;
    background-color: red;
    margin: 5px; border-radius: 5px;}
  #theme4{height: 25px; width: 25px;
    background-color: green;
    margin: 5px; border-radius: 5px;}
}
