// Carousel configuration parameters
$item-width: 70%; // Now we can use percentages!
$item-separation: 0px; // This now is set with Js
$viewer-distance: 500px;

.carousel {
	padding: 30px 20px 20px 20px;

	perspective: $viewer-distance;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	> * {
		flex: 0 0 auto;
	}

	figure {
		margin: 0;

		width: $item-width;
		transform-style: preserve-3d;
		transition: transform 0.5s;

		img {
			width: 100%;
			box-sizing: border-box;
			padding: 0 $item-separation / 2;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;

			&:not(:first-of-type) {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}

	#gamesNav {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;

		button, .btn, .btn-default{
			flex: 0 0 auto;
			margin: 0 5px;

			cursor: pointer;

			color: #333;
			background: white;
			border: 1px solid;
			letter-spacing: 1px;
			padding: 5px 10px;
		}

    button:focus{
      outline: 0;
    }
	}
}

#gameshub-bg{
  width: 100%;
  display: flex;
  justify-content: center;

  #gameshub-img{
    top: 60px;
    position: absolute;
    width: 90%;
    height: 650px;
    margin: 0 auto;
  }

  #gamesInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100px;
    margin-top: 20px;
    background: rgba(226, 226, 226, 0.6);
    border-radius: 10px;
    font-size: 16px;
  }
}
